<!DOCTYPE html>
<html lang="en">
  <div>
    <%= image_tag("streak_long.jpg", :class => "home-header") %>
  </div>
  
  <div class="home-callout text-center container">
    <div>
      <%= image_tag("logo_escarpment_labs_large.png", :class => "home-logo") %>
    </div>
    <h2>Fresh Cultures For Canadian Craft Brewers</h2>
  </div>

</html>